@model Contratos.Productos.ProductoDto

@{
    ViewData["Title"] = "Ver producto";
}
<h2>Ver producto</h2>

<div class="row">
    <div class="col-md-4">
        <div>
            <b>Código:</b> @Html.DisplayFor(model => model.Id)
        </div>
        <div>
            <b>Nombre: </b>@Html.DisplayFor(model => model.Nombre)
        </div>
        <div >
            <b>Precio: </b>@Html.DisplayFor(model => model.Precio)
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar","Index",null,null,new {@class="btn btn-primary"})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}